h1{
    text-align: center;
    font-family: "Ring.ttf";
}
html{
    background-image: url('../Images/MainPhoto.png');
    background-size: cover;
    image-rendering: pixelated;
}
button{
    width: 40%;
    font-size: 600%;
    font-family: "Ring.ttf";
    border-radius: 50%;
    border-color: gold;
    display: block;
    margin: 0 auto;
}

@font-face{
    font-family: "Ring.ttf";
    src: url("Fonts/Ring.ttf");
}